{{ define "main" }}



<h1>{{ .Title }}</h1>



	<div class="card-columns">
{{ range .Pages.ByPublishDate.Reverse }}

  <div class="card bg-light">
  	<!-- <img class="card-img" src="{{ .Params.image }}" alt="Card image"> -->
    <div class="card-body text-center">
      <a class="card-text" href="{{ .RelPermalink }}">{{ .Title }} </a>
        	<img class="card-img" src="{{ .Params.image }}">
        <!-- {{ partial "date-and-tags.html" . }} -->
        <br>
        {{ partial "date.html" . }}
    </div>
  </div>


{{ end }}
</div>

{{ end }}
