<div id="nav-border" class="container">
  <nav id="nav" class="nav justify-content-center align-items-center">

    <!-- Loop through main menu items -->
    {{ range .Site.Menus.main }} 
      {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
      {{ $text := print $icon " " .Name | safeHTML }}
      <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
    {{ end }}

    <!-- Light/Dark mode toggle button -->
<button id="dark-mode-toggle" class="btn btn-sm ms-2">
  <i></i>
</button>

  </nav>
</div>
