<style>
.container {
  max-width: {{ .Site.Params.containerMaxWidth | default "1200px" | safeCSS }};
}
#nav a {
  font-weight: bold;
  color: inherit;

}
#nav-border {
  border-bottom: 1px solid #212529;
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {

  margin-bottom: 0.3em;
}
img {
  max-width: 100%;
}
.btn {
  margin-bottom: 0.3em;
  margin-right : 0.3em;

}

/*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*/


a {
  color: #007bff;
 } /* CSS link color */

td, th {
    border: 1px solid grey;
    padding: 10px;
}


/*.table {
  border-collapse: collapse;
}

.table, .th, .td {
  border: 2px solid black;
}

th {
  background-color: #F1F1F1; 
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}*/
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
}

</style>