{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="container">
  <div class="row">
    <div class="col-12">

      {{ range .Pages.ByPublishDate.Reverse }}
      <div class="card mb-4">
        <a href="{{ .RelPermalink }}">
          
          {{ if .Params.image }}
            <img class="card-img-top" src="{{ .Params.image }}">
          {{ end }}

          <div class="card-body text-center">
            <a href="{{ .RelPermalink }}">
              <h5 class="card-title">{{ .Title }}</h5>
            </a>

            {{ partial "date.html" . }}
          </div>

        </a>
      </div>
      {{ end }}

    </div>
  </div>
</div>
{{ end }} 

